
body{
    margin: 0;
    padding: 0;
    background-color: rgba(126, 214, 24, 0.863);
}

.topnav {
    background-color: rgba(0, 0, 0, 0.877);
    overflow: hidden;
    
   
 }

  .topnav h1 {
    margin-left: 10px;
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
    display: inline-block;
}
    

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(58, 230, 16);
    background-attachment: fixed;  
    background-size: cover;
    max-width: auto;
    height: fit-content;
    
}

header{
    text-align: center;
    margin: auto;
    padding: 5%;
}



footer {
    position: fixed;
    background-color: black;
    height: auto;
    bottom: 0px;
    width: 100%;
    text-align: center;
  }