* {
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgba(126, 214, 24, 0.863);
    background-attachment: fixed;
    background-size: cover;
    max-width: auto;
    height: fit-content;
}

.topnav {
    background-color: rgba(0, 0, 0, 0.877);
    overflow: hidden;
}

.card {
    margin: 0 auto;
    
    float: none;
    
    margin-bottom: 10px;
    
}

.topnav h1 {
    margin-left: 10px;
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
    display: inline-block;
}

header {
    text-align: center;
    margin: auto;
    padding: 2%;
}

footer {
    position: fixed;
    color: white;
    background-color: rgba(0, 0, 0, 0.877);
    height: auto;
    bottom: 0px;
    width: 100%;
    text-align: center;
}